<mat-accordion class="accordion">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Morning
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let day of medications">
      <ng-container *ngIf="day.toTake.morning">
        <div class="med-block">
          <div>
            Reason: {{day.reason}}
          </div>
          <div>
            Medication: {{day.agent}}
          </div>
          <div>
            Count: {{day.toTake.morning}}
          </div>
        </div>
      </ng-container>
    </ng-container>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Evening
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let day of medications">
      <ng-container *ngIf="day.toTake.evening">
        <div class="med-block">
          <div>
            Reason: {{day.reason}}
          </div>
          <div>
            Medication: {{day.agent}}
          </div>
          <div>
            Count: {{day.toTake.evening}}
          </div>
        </div>

      </ng-container>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>

<!--ToDo Noon and Night-->

