<div class="wrapper">
  <ng-template [ngIf]="!scannedData && !isStartClicked" [ngIfElse]="medicationPlan">
    <div class="welcome-text">
      welcome to the medical plan scanner. with this app you can scan a data matrix and create your medical daily plan
      please click the button to start scanning
    </div>
    <button mat-raised-button color="accent" (click)="isStartClicked = true">Start</button>
  </ng-template>

  <ng-template #medicationPlan>
    <ng-template [ngIf]="!scannedData" [ngIfElse]="scanResult">
      <div class="scan-text">
        Please scan the barcode by using your device camera
      </div>
      <app-scanner (scannedData)="scannedData = $event"></app-scanner>
    </ng-template>

    <ng-template #scanResult>
      <app-scan-result [scannedData]="scannedData"></app-scan-result>
    </ng-template>
  </ng-template>


</div>



