.wrapper {
  display: grid;
  margin: 1em;
  grid-template-rows: 20% 60%;
  gap: 2em;
  justify-content: center;
}

.scan-text {
  text-align: center;
  font-size: large;
  margin-top: 2em;
}

.welcome-text {
  text-align: center;
  font-size: large;
  margin: 1em;
}
